{% load static %}
{% include  "study/components/header.html" %}


<div class="uk-section">

  <div class="uk-container " style="text-align: justify;">
      <h3>Introduction</h3>
      <p>
          In debates, controversial topics are discussed that can be of varying sensitivity for the participants and therefore have different emotional attachments.
          It isn't easy to discuss specific issues healthily and productively, even in private everyday life.
          In debates with strangers, thus, a neutral moderator usually leads the debate and makes sure that the participants and the matter in dispute (issue) are adequately treated.
          In case of misconduct, debate participants are not only excluded from the debate but also have to fear consequences regarding their image and will not be invited to such debates in the future.
          Since such consequences lead to complete exclusion from one's position, participants usually abide by the moderator's rules.
          Although this may sound strict at first, it has become apparent that progress in conflict resolution requires rules that allow for both disagreement and agreement among participants without leading to the termination of the debate.
      </p>  
      <p>
      On the contrary, online debates usually take place anonymously and often without moderators, which reduces the risks for participants and eventually leads to unhealthy conversations where participants can single-handedly sabotage entire debates without considerable consequences.
      <p>
      <p>
          <strong>Consider the following example:</strong></br>
          <blockquote>
          In a debate on the abolition of the death penalty, Participants A and B discuss the matter with clear and understandable arguments.</br>
          The discussion is calm and constructive.</br>
          Suddenly, Participant C joins the debate and insults Participant A.</br>
          Participant A then responds in kind.</br>
          The entire debate deteriorates into mutual name-calling and finger-pointing, with the actual issue being completely forgotten.</br>
          The participants involved in the debate might be willing to continue the discussion and resolve their differences, but the whole debate is now effectively derailed.</br>
          </blockquote>
          In face-to-face debates, the moderator would most likely exclude Participant C from the debate for their misconduct, giving the remaining participants a chance to continue their discussion.
          Participant C would also have to fear consequences for their behavior, such as being banned from future debates, which would discourage them from repeating their behavior.
          In an online debate, however, Participant C can easily leave the debate and re-enter it at any time, without any consequences for their behavior.
          This makes it very difficult for the remaining participants to resolve their differences, as they cannot be sure that the debate will not be derailed again.
          Therefore, it is important to have a moderator in online debates who can ensure that the discussion stays on track and that participants treat each other with respect.
        </p>
        <h3>Task</h3>
        <p>
          In this study, <u>You</u> will be the moderator.
          However, unlike the moderator of a face-to-face debate, you will only see the title of the discussed issue and an argument provided by one of the participants.
          Your task will then be to decide whether the argument is appropriate, partially  inappropriate, or fully inappropriate.
          In case you decide the argument is (partially/fully) inappropriate, you are also asked to provide at least one or even multiple reasons for your decision.
        </p>
        <p>
          To make this task easier for you, we developed the following taxonomy from which you can choose one or multiple reasons if you decide an argument is (partially/fully) inappropriate:
          <img src="{% static 'study/img/guidelines.svg' %}" style="width: 100%; display: block; margin-left: auto; margin-right: auto; margin-top: 30px;"/></br></br>
          Once you decide that an argument is (partially/fully) inappropriate, the taxonomy is supposed to be read from the inside (red) to the outside (yellow).
          A valid reason why an argument is (partially/fully) inappropriate should be a sentence of the following order red -->, blue -->, yellow.
          E.g., <i>The argument is (partially/fully) inappropriate because it appeals to unjustified emotions that are attacking, abusing, or offending.</i>
          White boxes next to the yellow boxes contain examples of rhetorical techniques that indicate a specific type of inappropriateness.
        </p>   
                   
        <p>
        <strong><em>NOTE:</em></strong> &nbsp;
        <ul>
          <li>
            Arguments that you consider to be fully appropriate may also violate some of the categories in the guidelines, e.g., contain single spelling errors.
            However, this does not mean they are automatically partially or even fully inappropriate.
            Only if the violation is too strong does it hurt the appropriateness of an argument.
            Thus, read the argument and decide which (in)appropriateness category you think is most fitting. Only afterward provide the reason for this.
          </li>
          <li>
            Considering our trial studies, we expect to find more arguments to be fully appropriate than (partially/fully) inappropriate. 
          </li>
          <li>
            To further speed things up, we will only ask you to answer questions based on your previous answers, e.g., if you think an argument is (partially/fully) inappropriate and your answer to "1: it appeals to unjustified emotions that are ..." is "No," you don't need to answer 1.1 - 1.5 explicitly.
          </li>
        </ul>
        </p>
      </p>

      <h3>Background</h3>
      <h4>How appropriate is the argument given the issue? (fully appropriate / partially  inappropriate / fully inappropriate)</h4>
      <p>Argumentation has an appropriate style if the used language supports the creation of credibility and emotions as well as if it is proportional to the issue.
The choice of words and the grammatical complexity should, in your view, appear suitable for the discussed issue within the given setting (online debate forum on a given issue), matching with how credibility and emotions are created via the content of the argumentation. 
      </p>
      
      <ol>
      <li>The argument is (partially/fully) inappropriate because <strong>it appeals to unjustified emotions</strong> ...
        <ol>
          <li>
            ... that are <strong>too strong for the issue:</strong></br> This is the case if the emotions created by an argument are unnecessarily strong for the discussed topic, such that they don't provide room for critical evaluation by the reader. Indicators for this are exaggerated or hyperbolic language caused by loaded terms or excessive repetition of an opinion.
          </li>
          <li>
            ... that are <strong>solely based on the feeling of threat, force or fear:</strong></br> One emphasizes the negative consequences of holding the contrary position, regardless of the contrary position's truth value — particularly when the argument-maker himself causes (or threatens to cause) those negative consequences. 
          </li>
          <li>
            ... that are <strong>solely based on the feeling of pity or guilt:</strong></br> The arguer appeals solely to the emotions of pity or guilt of the audience rather than their mind.
          </li>
          <li>
            ... that are <strong>solely based on the feeling of rejection or false association:</strong></br> The arguer uses an appeal to the beliefs, tastes, or values of a group of people, stating that because a certain opinion or attitude is held by a majority, it is therefore correct or incorrect.
          </li>
          <li>
          ... that are <strong>attacking, abusing or offending:</strong></br> The arguer attacks the character, motive, or some other attribute of the person making an argument rather than attacking the substance of the argument itself.
          </li>
        </ol>
      </li>

      <li>The argument is (partially/fully) inappropriate because <strong>it does not contribute to the resolution of the issue</strong> ...
        <ol>
          <li>
            ... since <strong>the issue or discussion is not taken seriously:</strong></br> The arguer is either trolling other participants by explicitly or implicitly suggesting that the topic is not worthy of being discussed or does not contribute meaningfully to the discussion.
          </li>
          <li>
            ... since <strong>it displays the refusal to consider arguments of the opposing point of view:</strong></br> An arguer must be willing to consider the arguments of the opposing point of view and weigh them on their merits instead of just rejecting them out of hand. An arguer generally must stick to her commitments, but she must also be ready to retract them (in appropriate circumstances).
          </li>
        </ol>
      </li>

      <li>The argument is (partially/fully) inappropriate because <strong>it is confusing/hard to follow</strong> ...
        <ol>
          <li>
            ... since <strong>the main point is unclear:</strong></br> It is unclear what the contribution of an argument is towards resolving the issue at hand, such that it is hard to conclude the stance of an argument's author on the issue.
          </li>
          <li>
            ... since <strong>it does not stick to the issue:</strong></br> The argument presented is not discussing the issue at hand but derails the conversation towards a related issue without letting the other participants know or shifting completely towards a different issue.
          </li>
          <li>
            ... since <strong>it uses vague/ambiguous/implicit language:</strong></br> Language that is not precise and therefore allows participants not to commit themselves or not to sound too definite. It is unclear what is meant. Sometimes the content of an argument is completely left implicit and can only be inferred by the reader, which leads to unnecessary uncertainty about what is being said.
          </li>
          <li>
            ... since <strong>the complexity of the language is not suitable for the issue:</strong></br> The issue discussed determines the complexity of the language used to discuss. However, suppose a theoretically complex issue is discussed, and participants use overly simplistic language. In that case, this may be seen as inappropriate as it hurts the clarity and preciseness of the language necessary to resolve the issue. The same holds for cases where the discussed issue can be discussed at an average level of complexity, but the arguments made are artificially complex such that it is hard to understand its context. 
          </li>
          <li>
            ... since <strong>the ordering of claims and premises does not seem to follow a logical order:</strong></br> The argument components in terms of claims and premises are not ordered in a way that supports the believability of the claims, or there seems to be no trivial connection of premises and claims in the argument. Usually, claims are either stated at the beginning of the text and are then supported by premises, or claims are presented towards the end of a text and are concluded from the premises. 
          </li>
        </ol>
      </li>

      <li>The argument is (partially/fully) inappropriate because <strong>of other reasons</strong> ...
        <ol>
          <li>
            ... namely <strong>notable grammatical issues that reduce readability:</strong></br> There are significant speeling or grammatical error which effect the readability or the understandability of the argument negatively.</strong>
          </li>
          <li>
            ... namely <strong>(please explain):</strong></br> If none of the other categories comply with the reasons of why you consider an argument to be not fully appropriate, please choose this option and provide a reson in the corresponding textarea.</strong>
          </li>
        </ol>
      </li>
      </ol>

      
      <h3>Annotation Tool:</h3>
      <p>Upon login, you are always redirected to this page (dashboard) where the guideline and an overview of your
        progress is shown. </p>
      <p>Below, we show you a table containing all the arguments, if it was annotated and the overall
        progress. When you click on <strong>Annotate</strong>, you will be directed to the corresponding task page where you must answer all questions and submit. Upon submission, you will be automatically redirected to the next post to be annotated. From the task page, you can click the provided <strong>Back to Dashboard</strong> link to visit this page.</p>

        
      <p>Your annotations will be saved and you can logout and login again to
        continue working.</p>
  </div>

  <div class="uk-container  uk-margin-top">
    <h3> Task Progress </h3>
    <br>
    {% if total == annotated %}<div class="uk-alert uk-alert-success  uk-text-center" role="alert">Thank you for completing the
      annotation! </div>{% endif %}
    <div class="uk-alert uk-alert-primary uk-text-center" role="alert">You annotated {{annotated}} out of {{total}} arguments</div>
    <br>


    {% if posts|length > 0 %}
    <div class="uk-overflow-auto">
    <table class="uk-table uk-table-large uk-table-hover">
      <thead>
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Issue</th>
          <th scope="col">Argument</th>
          <th scope="col">Annotated</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts.itertuples  %}

        <tr id="{{post.id}}">
          <!-- <td>{{post.id }}</td> -->
          <td>{{post.issue}}</td>
          <td>{{post.source }}</td>
          <td class="text-center">{% if post.result != '' %}
            <img src="{% static 'study/img/check.png' %}" width="35px" />
            {% else %}
            <img src="{% static 'study/img/not.png' %}" width="35px" />
            {% endif %}
          </td>
          <td><a href="{% url 'annotate' post.id %}" class="uk-text-primary large-text uk-text-center">Annotate</a> </td>
        </tr>

        {% endfor%}


      </tbody>
    </table>
  </div>
    {% else %}
    <span>No arguments uploaded yet, please contact us!</span>
    {% endif %}

  </div>
</div>
{% include "study/components/footer.html" %}